extends layout 
block content
 
    div.content
   
        form(method='POST' action='/new' class="form") 
            div.form-group 
                label(for="user" class="form-label") username 
                input(type="text" name="user" class="form-control")
       
            div.form-group  
                label(for="message" class="form-label") Message Text
                input(type="text" name="message" class="form-control")
            button(type="submit" class="submit")  Submit